body {
  background-color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  line-height: 1.714;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.header_branding {
  background: url(../images/home_banner.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header_branding .social_header {
  background-color: #de5b2c85;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: normal;
  padding: 6px 0;
}

.header_branding .social_header .col-md-6:first-child span a {
  color: var(--light);
}

.header_branding .social_header .col-md-6:first-child span:first-child {
  margin-right: 30px;
}

.header_branding .social_header .col-md-6 i {
  padding: 0 3px;
}

.header_branding .social_header .col-md-6:last-child .social_header_icons {
  padding-right: 10px;
  border-right: 1px solid var(--light);
}

.header_branding .social_header .col-md-6:last-child .social_header_icons a {
  color: var(--light);
}

.header_branding .social_header .col-md-6:last-child .social_header_icons a i {
  padding: 0 5px;
}

.header_branding .social_header .col-md-6:last-child span {
  padding-left: 10px;
}

.header_branding .social_header .col-md-6:last-child span a {
  color: var(--light);
}

.header_branding .navigation_bar {
  padding: 1rem 0;
}

.header_branding .navigation_bar .flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_branding .navigation_bar .flexible .navigation_bar-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_branding .navigation_bar .flexible .navigation_bar-logo img {
  width: 100%;
  max-width: 80px;
}

.header_branding .navigation_bar .flexible nav {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.header_branding .navigation_bar .flexible nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.header_branding .navigation_bar .flexible nav ul li a {
  display: block;
  text-transform: uppercase;
  color: var(--light);
  padding: 5px 30px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.header_branding .navigation_bar .flexible nav ul li a:hover {
  border-bottom: 4px solid #DE5B2C;
}

.header_branding .home_banner {
  padding-bottom: 10rem;
}

.header_branding .home_banner img {
  width: 100%;
}

.header_branding .home_banner div {
  padding: 20px 0;
}

.header_branding .home_banner div h1, .header_branding .home_banner div h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--light);
  font-size: 6rem;
}

.header_branding .home_banner div h2 {
  position: relative;
  font-family: 'Rancho', cursive;
  line-height: 0;
  margin: 2rem 0;
}

.header_branding .home_banner div h2 span {
  padding: 0 30px;
  font-size: 2.3rem;
}

.header_branding .home_banner div h2::after {
  content: '';
  height: 2px;
  width: 26%;
  background-color: var(--light);
  position: absolute;
  top: 16px;
  right: 18px;
}

.header_branding .home_banner div h2::before {
  content: '';
  height: 2px;
  width: 26%;
  background-color: var(--light);
  position: absolute;
  top: 16px;
  left: 18px;
}

.story {
  padding: 7rem 0;
}

.story .col-md-6:last-child p:first-child {
  position: relative;
  color: #DE5B2C;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.story .col-md-6:last-child p:first-child::before {
  content: '';
  width: 16%;
  height: 1px;
  background-color: #DE5B2C;
  position: absolute;
  top: 15px;
  left: 23%;
}

.story .col-md-6:last-child p:first-child::after {
  content: '';
  width: 16%;
  height: 1px;
  background-color: #DE5B2C;
  position: absolute;
  top: 15px;
  right: 23%;
}

.story .col-md-6:last-child h1 {
  text-align: center;
  font-family: 'Rancho', cursive;
  font-size: 6rem;
}

.story .col-md-6:last-child p, .story .col-md-6:last-child h5 {
  text-align: center;
}

.story .col-md-6:last-child p:last-of-type {
  font-size: 14px;
  padding: 20px 0;
  color: var(--gray);
}

.story .col-md-6:last-child .btn {
  display: block;
}

.story .col-md-6:last-child .btn a {
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #DE5B2C;
  padding: 8px 26px;
  color: #DE5B2C;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.story .col-md-6:last-child .btn a:hover {
  background-color: #DE5B2C;
  color: var(--light);
}
/*# sourceMappingURL=main.css.map */